---
# Note: Keep keys and envs in alphabetical order.
name: Claude Code
on:
  issue_comment:
    types:
      - created
      - edited
  pull_request_review_comment:
    types:
      - created
      - edited
  issues:
    types:
      - opened
  pull_request_review:
    types:
      - submitted
  workflow_call:
jobs:
  claude:
    uses: Cogni-AI-OU/.github/.github/workflows/claude.yml@main
    secrets: inherit
